.last {
  }

.accordion .item {
  color: #000000;
  background: #c14b4b;
  position: relative;
  overflow: hidden;
  font-type: Arial;
  font-size: 14px;
  width: 35%;
}
.accordion .item:hover label.menulabel {
  color: #FFFFFF;
  text-align: center;
}
.accordion .item label.menulabel {
  font-size: 1.5rem;
  display: block;
  width: 100%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.accordion .item label.menulabel:after {
  display: none;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 3.5rem;
  margin-top: 0px;
  font-size: 40px;
  color: #000000;
}
.accordion .item input[type="hidden"],
.accordion .item input[type="hidden"] {
  position: absolute;
  z-index: 1;
}
.accordion .item input[type="hidden"][hidden="hidden"],
.accordion .item input[type="hidden"][hidden="hidden"] {
  visiblity: hidden;
}
.accordion .item input[type="hidden"][hidden="hidden"] + label:after,
.accordion .item input[type="hidden"][hidden="hidden"] + label:after {
  display: block;
}
.accordion .item input[type="hidden"]:checked ~ .accordion-content,
.accordion .item input[type="hidden"]:checked ~ .accordion-content {
  padding: 0;
  height: auto;
  line-height: auto;
}
.accordion .item input[type="hidden"]:checked + label.menulabel,
.accordion .item input[type="hidden"]:checked + label.menulabel {
  color: #ffffff;
  background: #82051a;
}
.accordion .item input[type="hidden"]:checked + label.menulabel:after,
.accordion .item input[type="hidden"]:checked + label.menulabel:after {
  color: #ffffff;
}
.accordion .item .accordion-content {
  padding: 0;
  height: 0;
  color: #000000;
  background: #ffffff;
  overflow: hidden;
}
